body.conteudoExercicio{
    background-color:rgb(0, 0, 75);
    text-align: center;
    color: aliceblue;
}
div{
    padding: 10px;
    border: 1px solid aliceblue;
    background-color: rgb(158, 158, 3);
}

